.instructions {
    font-size: 1rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    text-align: left;
    margin-top: -0.6rem;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.inputField {
    width: 55%;
    margin: 1rem auto 1rem auto;
    padding: 1rem 3.5rem;
    border-radius: 1rem;
    border: 1px solid darkgray;
    outline: none;
    font-size: 1rem;
}

@media (max-width: 800px) {
    label {
        padding-left: 5rem;
    }
}

