.registerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12.5rem;
}

.registerForm {
    width: 600px;
    height: max-content;
    padding-bottom: 2rem;
    -webkit-box-shadow: 0 0 25px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0 0 25px -11px rgba(66, 68, 90, 1);
    box-shadow: 0 0 25px -11px rgba(66, 68, 90, 1);
    border-radius: 2rem;
    align-items: center;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
}

label {
    width: 100%;
    text-align: left;
    padding-left: 10rem;
    margin-bottom: -1rem;
}

.loginLink {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.loginLink a {
    color: #5eb3c9;
    text-decoration: underline;
}

.errmsg {
    width: 85%;
    border-radius: 1rem;
    text-align: center;
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.instructions {
    font-size: 1rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    text-align: left;
    margin-top: -0.6rem;
}

.success {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    -webkit-box-shadow: 0 0 25px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0 0 25px -11px rgba(66, 68, 90, 1);
    box-shadow: 0 0 25px -11px rgba(66, 68, 90, 1);
    border-radius: 0 0 2rem 2rem;
}

.success a {
    color: black;
    font-size: 1.4rem;
    text-decoration: underline;
}

.successTitle {
    text-align: center;
    border-radius: 2rem 2rem 0 0;
    background-color: #282c34;
    width: 300px;
    color: white;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.inputField {
    width: 55%;
    margin: 1rem auto 1rem auto;
    padding: 1rem 3.5rem;
    border-radius: 1rem;
    border: 1px solid darkgray;
    outline: none;
    font-size: 1rem;
}

.registerTitle {
    margin-top: 0;
    height: 100px;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.inputIcon {
    position: relative;
    left: -435px;
    top: 9px;
    color: #5eb3c9;
}

.signUpButton {
    background-color: #6bcee7;
    width: 55%;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    transition: .5s;
}

.signUpButton:disabled {
    transform: none;
    background-color: #b4b4b4;
}

.signUpButton:disabled:hover {
    transform: none;
}

.signUpButton:hover {
    transform: translateY(-2px) translateX(-2px);
    -webkit-box-shadow: 11px 9px 27px -21px rgba(66, 68, 90, 1);
    -moz-box-shadow: 11px 9px 27px -21px rgba(66, 68, 90, 1);
    box-shadow: 11px 9px 27px -21px rgba(66, 68, 90, 1);
}

@media (max-width: 800px) {
    label {
        padding-left: 5rem;
    }
}

