.inputIcon {
    position: relative;
    left: -435px;
    top: 9px;
    color: #5eb3c9;
}

.successMsg {
    width: 85%;
    border-radius: 1rem;
    text-align: center;
    background-color: #8aff6c;
    color: #4aa425;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

