.AppHeader {
    background-color: #282c34;
    height: 96px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-right: 3rem;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
}

li {
    list-style: none;
    display: flex;
}

.AppHeader h1 {
    display: flex;
    align-items: center;
}

.mainBar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: max-content;
    gap: 3vw;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

.AppHeader ul li:nth-child(3) {
    background: #5eb3c9;
    box-shadow: 0 0 10px #5eb3c9,
    0 0 25px #5eb3c9;
    transition: .5s;
    border-radius: 10px;
    padding: 0.4rem;
}

.AppHeader ul li:nth-child(3):hover {
    background: #5eb3c9;
    box-shadow: 0 0 10px #5eb3c9,
    0 0 25px #5eb3c9, 0 0 25px #5eb3c9,
    0 0 25px #5eb3c9, 0 0 25px #5eb3c9;
    transition: .5s;
}

.authorization {
    display: flex;
    background-color: #181a1f;
    border-radius: 10px;
    color: white;
    padding: 0.4rem;
    cursor: pointer;
}

.authorization li {
    padding: inherit;
    border-radius: inherit;
}

.authorization li:nth-child(2) {
    background: #5eb3c9;
}

.LogoAndName {
    width: max-content;
    display: flex;
    margin-left: 4rem;
}

.menuDropdown {
    position: absolute;
    top: 5rem;
    right: 0.1rem;
    background-color: #181a1f;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
}

.menuDropdown svg {
    margin-top: 3%;
    margin-right: 1rem;
}

.username {
    color: white;
    padding: 0 1rem 0 1rem;
    border-radius: 10px;
    background-color: #181a1f;
    cursor: pointer;
    position: relative;
}

.alert {
    animation: slideInLeft 2s ease-out;
    background-color: #99de27;
    padding: 2rem;
    transition: 1s;
    bottom: 4rem;
    width: 20%;
    position: fixed;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    z-index: 999;
    animation-delay: 2s;
}

.burger {
    display: none;
    cursor: pointer;
}

@media (max-width: 1200px) {

    .burger {
        display: flex;
        flex-direction: column;
        border: none;
        background: none;
        gap: 0.5rem;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 2rem;
    }

    .line {
        background-color: #5eb3c9;
        height: 7px;
        width: 70px;
    }

    .mainBar {
        top: 100%;
        right: 0;
        margin: 0;
        position: absolute;
        flex-direction: column;
        background-color: #282c34;
        padding: 1rem;
        height: 400px;
        width: 400px;
        transform: translate(0);
    }

    .active {
        display: none;
    }
}

@media (max-width: 800px) {
    p {
      font-size: 1rem;
    }

    .LogoAndName {
        font-size: 2rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {

    label {
        font-size: 1.3rem;
    }

    .loginLink {
        font-size: 1rem;
    }

    .line {
        height: 5px;
        width: 50px;
    }

    .AppHeader {
        padding-right: 1rem;
    }

    .LogoAndName {
        margin-left: 1rem;
    }

    .logo {
        height: 70px;
        margin: auto 0 auto 0;
    }

    .LogoAndName h1 {
        font-size: 1.3rem;
    }

    .mainBar {
        height: 350px;
        width: 350px;
    }

    .mainBar li a {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .mainBar {
        height: 300px;
        width: 300px;
    }

    .mainBar li a {
        font-size: 1.5rem;
    }

    .burger {
        margin-right: 1rem;
    }
}

@keyframes slideInLeft {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: -200px;
        opacity: 0;
        display: none;
    }
}